<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>RoutePollMain</title>
</head>
<body style="background-color: black;">
    <h1 style="text-align: center; color: whitesmoke">
        Route Poll
    </h1>
    <h2 style="text-align: right; color: whitesmoke;">
        TOP1 & BRONZE 9<br>
        June 6, 2018
        Prototype
    </h2>

    <hr>

    <h1 style="text-align: center; color: whitesmoke; padding: 7%;">
        <a href="{% url 'newpoll' %}" style="color: inherit; text-decoration: none">
            NEW POLL
        </a>
    </h1>

    <h1 style="text-align: center; color: whitesmoke; padding: 7%;">
        <a href="{%  url 'viewpoll' %}" style="color: inherit; text-decoration: none">
            VIEW POLL
        </a>
    </h1>

</body>
</html>