body{
    background-color:rgb(40, 40, 40);
    color:white;
}

iframe{
    height:4500px;
    width:100%;
}

.block_page{
    display:none;
}

/*
.kibana{
    margin-top:100px;
}
*/
.box_active{
  box-shadow: 0px 0px 10px #000;
  background-image:linear-gradient(45deg,rgba(85,135,237,.5) 0,rgba(0,0,0,.0001) 100%);
  /*background-size:contain;*/
  /* box-shadow : [inset] [h-shadow] [v-shadow] [blur] [spread] */
}

.jumbotron{
    margin-top:100px;
    background:url("../img/auto-25832301.jpg") no-repeat;
    background-size:cover;
}

.jumbo_dash{
    margin-bottom: 0px;
}

.font_white p{
    font-weight:bold;
}



.font_white{
    color:white;
    text-shadow: 2px 2px 4px #000000;
}

.pre_title{
    margin-bottom: 30px;
}

.pre_body .row .col-lg-3{
    margin:auto 0;
    height:150px;
    font-size:20pt;
    padding-top:55px;
    text-align:center;
    border-radius:5px;
    /*
    background-image: -webkit-linear-gradient(top,rgba(196,222,255,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: -o-linear-gradient(top,rgba(196,222,255,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: -webkit-gradient(linear,right top,right top,from(rgba(196,222,255,.5)),to(rgba(0,0,0,.0001)));
    background-image: linear-gradient(to top,rgba(196,222,255,.5) 0,rgba(0,0,0,.0001) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;  */
}


.row .box_active{
    cursor:pointer;
  box-shadow: 0px 0px 10px #000;
  background-image:linear-gradient(45deg,rgba(85,135,237,.5) 0,rgba(0,0,0,.0001) 100%);
  /* box-shadow : [inset] [h-shadow] [v-shadow] [blur] [spread] */
}

.row .box_clicked{
    cursor:pointer;
  box-shadow: 0px 0px 10px #000;
  background-image:linear-gradient(45deg,rgba(85, 0, 255,.5) 0,rgba(0,0,0,.0001) 100%);
  /* box-shadow : [inset] [h-shadow] [v-shadow] [blur] [spread] */
}


.input_date_form{
    display:block;
    /*position:absolute;*/
    margin:50px 0;
    text-align:center;
/*    width:100%;
    height:100%;*/
}


.input_text_date{
    font-size:150%;
    width:40%;
    height:50px;
    border-radius:5px;
}


.pred_cent{
    width:100%;
    margin:0 auto;
    display:block;
}

.pred_value{
    /*display:none;*/    
}

.row .col-md-6{
    border-radius: 5px;
    border-color:#000000;
    margin-bottom:50px;
}

.pred_day{
    font-size:15pt;
    margin-top:20px;
    margin-left:100px;
}

.modal-content{ /* modal의 투명성 */
    background-color:rgba(0, 0, 0, 0.8);
    height:150%;
}

.modal-body{
    background:url("../img/activity-2286443_rev.jpg") no-repeat;
    height:300px;
    background-size:cover;
}

.pred_inner_container.disable{
    display:none;
}

.carousel_gate{
    background-size:contain;
    
}